//Typography variables
$pwcSerif: "PwC ITC Charter","Charter ITC", georgia, serif;
$pwcSansSerif: "PwC Helvetica Neue", "Helvetica Neue", helvetica, arial, sans-serif;
$pwcSansSerifLight: "PwC Helvetica Neue Light", "Helvetica Neue Light", helvetica, arial, sans-serif;